/* Vars */
$light-white: #cfd1ed;
$red: #ff0000;
$black: #111111;
$white: #ffffff;



/* Bootstrap vars */
$body-bg: #f8f8f8;
$pagination-color: $black;
$pagination-active-bg: red;
$pagination-active-border-color: red;

$nav-link-padding-x: 0;



